<div [style.display]="displayMode">
  <br>
  <div class="container">
    Login Screen
    <hr>
    <div id="mainDiv">
      <div style="text-align: center;">
        <b>Please enter your Username and Password</b>
        <div class="row">
          <div class="col-md-4 col-1"></div>
          <div class="col-md-4 col-10">
            <mat-form-field style="width:100%">
              <mat-label>Username</mat-label>
              <input #userName matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-1"></div>
        </div>
        <div class="row">
          <div class="col-md-4 col-1" ></div>
          <div class="col-md-4 col-10">
            <mat-form-field style="width:100%">
              <mat-label>Password</mat-label>
              <input type="password" #password matInput>
            </mat-form-field>
          </div>
          <div class="col-md-4 col-1"  ></div>
        </div>

        <div>

        </div>
        <button color="primary" (click)="onClick(userName , password);" mat-button>Submit</button>
      </div>
    </div>

  </div>


</div>